@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

//color

$slate-900: #1F314F;
$slate-500: #68778d;
$slate-300: #D5E1EF;

//typography

$outfit: "Outfit", sans-serif;

//spacing

$lg: 40px;
$md: 24px;
$sm: 16px; 


//mixins
@mixin bold{
    font-family: $outfit;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 120%;
}

@mixin regular{
    font-family: $outfit;
    font-size: 15px;
    letter-spacing: 0.2px;
    line-height: 140%;
}

